.cartItems{
    display: flex;
    height: 150px;
}
.imgCartItem{
    width: 32%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentCartItem{
    width: 68%;
    height: 120px;
    padding-right: 10px;
}

.contentCartItem h1{
    color: black;
    font-size: 14px !important;
    font-weight: bold;
}
.contentCartItem h2{
    color: black;
    font-size: 10px !important;
    font-weight: bold;
}

.cart-container{
    background-color: blueviolet;
}

@media screen and (max-width: 1450px) {
    .btnsCart{
        flex-direction: column !important;
    }
    .VCbtn{
        width: 250px !important;
        height: 50px !important;
        margin-top: 15px !important;
        font-size: 16px !important;
    }
    .CSbtn{
        width: 250px !important;
        height: 50px !important;
        font-size: 16px !important;
    }
    .subTotalh1{
        margin-top: 15px !important;
    }
}